---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Link from './Link.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section
  class="relative z-10 flex h-auto min-h-[1024px] w-full flex-col items-center gap-10 bg-[url('/footer.webp')] text-center"
>
  <div class="absolute -top-[80px] left-0 z-20 h-[80px] w-full bg-linear-to-b from-[#100e14] to-[#09090b]"></div>
  <hgroup class="flex flex-col items-center gap-4 pt-[236px]">
    <h2 class="font-calsans text-7xl tracking-[2.5px]">{t('finalCTA.title')}</h2>
    <p class="text-xl">{t('finalCTA.description')}</p>
  </hgroup>
  <Link external asButton to="https://discord.com/invite/comuafor">{t('finalCTA.button')}</Link>
</section>
